// Default variable overrides
$primary : #C1071E;
$secondary : #131834;
$light : #fff;
$warning : #CD9019;
$gray : #777777;



@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";


//these spacing uses the 8 points grid system
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  168: 10.5rem,
  176: 11rem,
  184: 11.5rem,
  192: 12rem,
  200: 12.5rem,
  208: 13rem,
  216: 13.5rem,
  224: 14rem,
  232: 14.5rem,
  240: 15rem,
  248: 15.5rem,
  256: 16rem,
  264: 16.5rem,
  272: 17rem,
  280: 17.5rem,
  288: 18rem,
  296: 18.5rem,
  304: 19rem,
  312: 19.5rem,
  320: 20rem,
  328: 20.5rem,
  336: 21rem,
  344: 21.5rem,
  352: 22rem,
  360: 22.5rem,
  368: 23rem,
  376: 23.5rem,
  384: 24rem,
  392: 24.5rem,
  400: 25rem,
  408: 25.5rem,
  416: 26rem,
  424: 26.5rem,
  432: 27rem,
  440: 27.5rem,
  448: 28rem,
  456: 28.5rem,
  464: 29rem,
  472: 29.5rem,
  480: 30rem,
  488: 30.5rem,
  496: 31rem,
  504: 31.5rem,
  512: 32rem
);

//Your theme color here
$custom-colors: (
  "tertiary": #171928,
  "altlight" : #DEDEDE
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

// Required
@import "../node_modules/bootstrap/scss/bootstrap";




